*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}
#header1{
    background-color:  gray;
}
#header1 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}
.container a{
    text-decoration: none;
    color: black;
}
.buttons{
    border: none;
    background: none;
}
#headerlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
@media screen and (min-width: 768px){
#header1 .buttons{
    display: none;
}
}

@media screen and (max-width: 768px){
    #headerlinks{
        display: none;
    }}